*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    background-color: transparent;
    width: 420px;
    height: 400px;
    border: 2px solid rgba(0, 0, 0, 0.884);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.884);
    border-radius: 40px;
    margin-top: 10%;
    padding: 10px;
}
.wrapper h1{
    font-size: 3rem;
    text-align: center;
    padding: 50px;
}

.wrapper .input-box{
    width: 99%;
    height: 50px;
    margin: 20px 0;
    text-align: center;
    
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border: 1px solid black;
    border-radius: 40px;   
    font-size: 20px;
    font-weight: 100;
    color: rgb(10, 10, 10);
    text-align: center;
}

.input-box input::placeholder{
    color: white;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    font-size: 15px;
}
.wrapper button{
    margin-left: 85px;
    margin-top: 20px;
    width: 60%;
    height: 40px;
    border-radius: 40px;
}